body {
  font-family: Verdana, sans-serif;
}

h1 {
  text-align: center;
}

#main-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  display: block;
  width: 20vw;
  height: auto;
  margin: 0 auto;
  background-color: rgba(81, 156, 156);
}

img:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px;
}

figcaption {
  text-align: center;
  padding: 10px;
}

#result {
  width: 100%;
  text-align: center;
  padding: 15px;
}

#outcome {
  background-image: linear-gradient(red, blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}